div(layout="row" ng-cloak ng-controller="userController")
  md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-close="$mdMedia('gt-md')")
    div.doc__sidebar__header
      img(src="../images/logo.png")
    md-content(layout-padding ng-controller="LeftCtrl" flex class="doc__sidebar__content")
      div.doc__sidebar__close
        md-button(ng-click="close()" class="md-primary" hide-gt-sm) Close Sidenav Left
        md-content(show-gt-md class="doc__sidebar__content")
          p #[a(ui-sref="documents") View all document]
          p #[a(ui-sref="adddocument") Add document]
          p #[a(ui-sref="profile" class="active") Profile]
          p #[a(ng-click="logout()" class="doc__signout__button") Sign out]
          span.doc__social__icon 
            a(href="https://github.com/andela-abankole/doc") 
              i.fa.fa-github
              md-tooltip View project on Github
  section(layout="row" flex class="doc__profile")
    md-content(flex="15" flex-sm="15" flex-gt-md="30" layout-padding)
      div(layout="column" layout-fill layout-align="top center")
        md-button(ng-click="toggleLeft()" class="md-fab doc__sidebar__button" aria-label="Menu" class="md-primary")
          i.fa.fa-bars
      div(flex)
    div(flex-offset-md="20")
    md-content(layout-padding flex-sm="80" flex-md="45" flex-gt-md="40" class="md-inline-form doc__sidebar__form")
      form
        h1 Update Profile
        div(layout layout-sm="column")
          md-input-container(flex)
            label First name
            input(ng-model="vm.name.first" type="text")
          md-input-container(flex)
            label Last name
            input(ng-model="vm.name.last" type="text")
        div(layout layout-sm="column")
          md-input-container(class="md-block" flex)
            label Username
            input(ng-model="vm.username" type="text")
          md-input-container(class="md-block" flex)
            label Email
            input(ng-model="vm.email" type="email")
        section(class="doc__profile__section" layout="row" layout-sm="column" layout-align="center center" layout-wrap)
          md-button(class="doc__delete" ui-sref="profile") DISCARD
          md-button(class="doc__save" ng-click="updateUser(vm)") SAVE
    md-content(flex flex-sm="5")