div(layout="row" ng-cloak ng-controller="userController")
  md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-close="$mdMedia('gt-md')")
    div.doc__sidebar__header
      img(src="../images/logo.png")
    md-content(layout-padding ng-controller="LeftCtrl" flex class="doc__sidebar__content")
      div.doc__sidebar__close
        md-button(ng-click="close()" class="md-primary") Close Sidenav Left
        md-content(show-gt-md class="doc__sidebar__content")
          p #[a(ui-sref="documents") View all document]
          p #[a(ui-sref="adddocument") Add document]
          p #[a(ui-sref="profile" class="active") Profile]
          p(ng-click="logout()" style="cursor : pointer;") Sign out
  section(layout="row" flex class="doc__profile")
    md-content(flex="15" flex-sm="35" flex-gt-md="30" layout-padding)
      div(layout="column" layout-fill layout-align="top center")
        md-button(ng-click="toggleLeft()" class="md-fab doc__sidebar__button" aria-label="Menu" class="md-primary")
          i.fa.fa-bars
      div(flex)
    div(flex-offset-md="20")
    md-content(layout-padding flex-sm="60" flex-md="45" flex-gt-md="40" class="md-inline-form doc__sidebar__form")
      form
        h1 {{ vm.name.first }} Profile
        div(layout layout-sm="column")
          md-input-container(flex)
            p First name
            h4(ng-bind="vm.name.first")
          md-input-container(flex)
            p Last name
            h4(ng-bind="vm.name.last")
        div(layout layout-sm="column")
          md-input-container(class="md-block" flex)
            p Username
            h4(ng-bind="vm.username")
          md-input-container(class="md-block" flex)
            p Email
            h4(ng-bind="vm.email")
        section(class="doc__profile__section" layout="row" layout-sm="column" layout-align="center center" layout-wrap)
          md-button(class="doc__edit" ui-sref="editprofile") EDIT
          md-button(class="doc__delete" ng-click="deleteUser(vm._id)") DELETE
          p By clicking #[b Delete], you agree to the termination of your #[b Profile] and all documents included with no way of restoring.
    md-content(flex flex-sm="5")