// SCRIPTS
script(type="text/javascript" src="lib/angular/angular.min.js")
script(type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript" src="lib/angular-animate/angular-animate.min.js")
script(type="text/javascript" src="lib/angular-aria/angular-aria.min.js")
script(type="text/javascript" src="lib/angular-material/angular-material.min.js")
// DOC MINIFIED SCRIPT
script(type="text/javascript" src="scripts/min/index.js")

script(type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js")
script(type="text/javascript" src="lib/angular-loading-bar/build/loading-bar.min.js")
script(type="text/javascript" src="lib/sweetalert/dist/sweetalert.min.js")